<!-- <% layout('layouts/boilerplate') -%>

    <body>
        <h1>Welcome to WonderLust</h1>

        <h3>All Listings</h3>
        <!-- <form method="GET" action="/listings/new">
            <button>Create New Listing</button>
        </form> -->
<div class="row">
    <% for(let listing of allListings) { %>

        <div class="card" style="width: 18rem;">
            <img src="<%= listing.image %>" class="card-img-top"
                alt="Cozy rental listing titled <%= listing.title %> showing the main living area with inviting decor and natural light, set in a welcoming environment">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card’s content.</p>
            </div>
        </div>
        <% } %>
</div>

<!-- <ul>
                    <% for(let listing of allListings) { %>
                        <li><a href="/listings/<%= listing._id %>">
                                <%= listing.title %>
                            </a></li>
                        <% } %>
                </ul> -->

</body>