<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New</title>
</head>

<body>

    <form action="/listings" method="post">
        <h1>Create a New Listing</h1>
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br><br>
        <textarea name="listing[description]" placeholder="Enetr Description"></textarea>
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter Image URL/Link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="Enter Price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="Enter Location">
        <br><br>
        <input type="text" name="listing[country]" placeholder="Enter Country">
        <br><br>
        <button type="submit">Create Listing</button>
    </form>

</body>

</html>